# data folders
wbo_reports/
data_pgadmin/

# .DS_Store files
*/.DS_Store
.DS_Store

# cache folders
__pycache__/

# python virtual environment 
venv/

# terraform related files
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl

# airflow related files
airflow/logs/
.~lock.*